/***** COLORS *****/
  /*  
  white = #f6f9fd
  navy = 00295b
  orange = f0b30d
  */
footer {
  background-color: #00295b;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  color: #f6f9fd;
}
footer ul {
  display: inline-block;
  list-style-type: none;
  padding-top: 65px;
  padding-bottom: 50px;
  line-height: 23px;
}
footer ul:nth-child(3) {
  position: relative;
  left: 200px;
}
footer a:link {
   text-decoration: none;
  color: #f6f9fd;
}

footer a:visited {
  text-decoration: none;
  color: #f6f9fd;
}

footer a:hover {
  text-decoration: none;
  color: #f6f9fd;
}

footer a:active {
  text-decoration: none;
  color: #f6f9fd;
}
footer div {
  font-weight: normal;
  text-align: center;
  padding-bottom: 34px;
}